h1{
    text-align: center;
    font-size: 40;
}
button{
    border-radius: 5px;
    
}
.top{
    margin: auto;
  width: 100%;
 
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: rgba(44, 64, 82, 0.884);
}
.openDictionary{
    overflow: scroll;
    
}